/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.page.no-scroll{
	overflow: hidden;
}

body {
	font-family: "Montserrat", sans-serif;
	font-size: 21px;
	line-height: 28.64px;
	color: #586264;
}
a{
	color: #586264;
}

.wrapper__background{
	background-color: rgb(158, 158, 158);
	height: 1080px;
}
@media (max-width: 1918px) {
	.wrapper__background{
		background: none;
		height: auto;
	}
}
.wrapper{
	background: url('../img/main.jpg') center no-repeat;
	width: 100%;
	max-width: 1920px;
	height: 56.25vw;
	max-height: 1088px;
	background-size: cover;
	overflow: hidden;
	background-position: top;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 auto;
}

.container__header, .container__bottom{
	width: 100%;
	max-width: 1590px;
	margin: 0 auto;
	padding: 0px 15px;
}

@media (max-width: 1650px) {
	.container__header, .container__bottom{
		max-width: 1320px;
	}
}
@media (max-width: 1450px) {
	.container__header, .container__bottom{
		max-width: 1150px;
	}
} 
 
.container__middle{
	width: 100%;
	max-width: 1820px;
	margin: 0 auto;
}


/* Header */

.header {
	padding: 54px 0px 0px 12px;
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 25px;
	font-weight: 700;
	color: #fff;
	line-height: 29.35px;
	letter-spacing: 0.07em;
}
.header__burger {
	display: none;
}


/* Nav */

.nav{
	flex: 0 0 auto
	
}
.nav__link {
	line-height: 22px;
	letter-spacing: 0.03em;
	font-size: 18px;
	font-weight: 500;
	color: rgb(185, 180, 180);
	margin-left: 80px;
	display: inline-block;
	transition: 1s;
}
.nav__link:hover {
	color: #fff;
	transform: scale(1.1);
	transition-duration: 1s;
}
.nav__link.active {
	color: #fafaf9;
}




/* Container middle */

.container__middle{
	
}
.container__middle__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 85px 0px 0px 140px;

}
.main__text{
	flex: 0 1 661px;
}
.text__one{
	font-size: 35px;
	line-height: 44.59px;
	color: #FFFFFF;
}
.text__two{
	font-weight: 700;
	font-size: 80px;
	line-height: 96px;
	color: #FFFFFF;
	margin: 5px 0px 80px 0px;
}

@media (max-width: 1300px){
	.text__two{
		font-size: 60px;
		margin: 5px 0px 40px 0px;
	}
	.container__middle__inner{
		margin-top: 40px;
	}
}

.text__three a{
	font-weight: 500;
	font-size: 25px;
	line-height: 33px;
	color: #FFFFFF;
}
.text__three{
	transition: 0.5s;
}
.text__three a::after{
	content: "\f105";
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
	font-weight: 600;
	position: relative;
	right: -20px;
	top: 2px;
}
.text__three:hover{
	transform: scale(1.1);
	transition: 1s;
}

.social__media {
	display: flex;
	flex-direction: column;
}

.social__media a{
	transform: rotate(90deg);
	margin: 60px 0px;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	transition: 0.5s;
}
.social__media a:hover{
	transform: rotate(0deg);
	transition-duration: 1s;
}



/* Container bottom */

.container__bottom_inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 71px;
}

.video__text{
	display: flex;
	flex: 0 1 500px;
}
.video{
	position: relative;
}


.icon__polygon{
	position: absolute;
	top: 50px;
	right: 65px;
}
.icon__round{
	position: absolute;
	top: 32px;
	right: 48px;
	z-index: 2;
}
/* .video:hover img{
	transform: scale(1.25);
	transition: 2s;
} */
.preview__image, .icon__round{
	transition: 1.5s;
}
.preview__image:hover{
	transform: scale(1.25);
	transition: 2s;
}
.icon__round:hover{
	transform: scale(1.3);
	transition: 2s;
}
.icon__round:hover ~ .preview__image{
	transform: scale(1.25);
	transition: 2s;
}
.text{
	padding-left: 44px;
}
.text p{
	line-height: 29px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	display: block;
	margin-bottom: 23px;
}
.text a{
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}
.text a::after{
	content: "\f105";
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
	font-weight: 600;
	position: relative;
	right: -15px;
	top: 2px;
}

.bottom__text{
	display: flex;
	flex: 0 1 640px;
	justify-content: space-between;
	padding-top: 45px;
}
.date__start, .date__finish{
	border-right: #fff solid 0.3px;	
	padding-right: 60px;
}

.date__start h4, .date__finish h4, .price h4{
	line-height: 26px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	padding-bottom: 10px;
}

.date__start h5, .date__finish h5, .price h5{
	font-weight: 300;
	font-size: 18px;
	line-height: 23px;
	letter-spacing: 0.02em;
	color: #FFFFFF;
}


@media (max-width:1198px) {
	.text p {
		font-size: 18px;
		margin-bottom: 15px;
	}
	.date__start h4, .date__finish h4, .price h4{
		font-size: 18px;
	}
	.bottom__text{
		padding-top: 0px
	}
	.text__two{
		margin: 5px 0px 5px 0px;
		font-size: 40px;
	}
	.container__middle__inner{
		margin-top: 10px;
		margin-left: 40px;
	}
	.text__one{
		font-size: 25px;
	}
	.social__media a{
		margin: 40px 20px;
	}
	.container__bottom_inner{
		justify-content:flex-start;
	}
	.nav__link{
		margin-left: 30px
	}
}


@media (max-width:991px) {
	.preview__image:hover, .icon__round:hover, .icon__round:hover ~ .preview__image{
		transform: scale(1.0);
		transition: 0s;
	}
	.text__three:hover{
		transform: scale(1.0);
		transition: 0s;
	}
	
	.header{
		padding-top: 10px;
	}
	.header__inner{
		display: block;
	}
	.text__two{
		line-height:50px
	}
	.social__media a{
		transform: rotate(0);
		margin: 15px 20px 0px 0px;
	}
	.container__bottom_inner{
		padding-bottom: 10px;
	}
	.date__start h4, .date__finish h4, .price h4, .date__start h5, .date__finish h5, .price h5{
		font-size: 15px;
		line-height: 20px;
	}
	.date__start, .date__finish{
		padding-right: 20px;
	}
	.text p{
		font-size: 15px;
		line-height: 20px;
	}
	.text a{
		font-size: 15px;
	}
	.text{
		padding-left: 10px;
	}
}


@media (max-width:767px){
	.wrapper__background{
		background: none;
		height: auto;
	}
	.container__middle, .container__bottom{
		display: none;
	}
	.header{
		padding: 20px 10px 10px 10px;
	}
	.wrapper{
		background: none;
		background-color: #586264;
		height: 80px;
		position: fixed;
		z-index: 1000;
	}
	.header__inner{
		display: flex;
	}

	body.lock{
		overflow: hidden;
	}
	.header__inner {
		height: 50px;
	}
	.header__logo {
		/* flex: 0 0 40px; */
		z-index: 5;
	}
	.header__burger {
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		position: relative;
		z-index: 1;
	}
	.header__burger span{
		position: absolute;
		background-color: #fff;
		position: absolute;
		left: 0;
		width: 100%;
		height: 2px;
		top: 9px;
		transition: all 0.5s ease 0s;
	}
	.header__burger:before,
	.header__burger:after{
		content: '';
		background-color: #fff;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.header__burger:before{
		top: 0;
	}
	.header__burger:after{
		bottom: 0;
	}

	.header__burger.active span{
		transform: scale(0);
	}

	.header__burger.active:before{
		transform:rotate(45deg);
		top: 9px;
	}
	.header__burger.active:after{
		transform:rotate(-45deg);
		bottom: 9px;
	}

	.nav {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		transition: all 0.3s ease 0s;
		padding: 70px 10px 20px 10px;
		background: url("../img/main_mobile.jpg") center no-repeat;
		width: 100%;
		height: 100%;
		background-size: cover;
	}

	.nav.active{
		top: 0;
		padding-top: 70px;
	}

	.nav__link{
		display: block;
		margin: 40px 20px 0px 13px;
		font-size: 24px;
		color: #fff;
		text-transform: uppercase;
	}
	.nav__link:hover {
		transform: scale(1.0);
		transition-duration: 0s;
	}
	/* .header__list li{
		margin: 0px 0px 20px 0px;
	}
	.header__link {
		font-size: 24px;
	} */
}

/* Main content, slider */

.slick-slider{
	min-width: 0;
}
/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}
	
/* Лента слайдов */
.slick-track{
	display: flex;
	
}

.slider {
	position: relative;
	padding: 0px 50px;
}
.slider .slick-arrow{
	position: absolute;
	top: 40%;
	z-index: 1;
	font-size: 0;
	width: 30px;
	height: 60px;
}
@media (max-width:888px){
	.slider .slick-arrow{
		top: 25%;
	}
}
@media (max-width:767px){
	.slider .slick-arrow{
		top: 41%;
	}
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/icons/sl-arrow_l.svg') 0 0 / 100% no-repeat;
	opacity: 0.5;
	
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../img/icons/sl-arrow_r.svg') 0 0 / 100% no-repeat;
	opacity: 0.5;
}

.slider__item img{
	max-width: 100%;
}


/* Main content, first block left+right */


.main__content{
	width: 100%;
	max-width: 1594px;
	margin: 0 auto;
	padding: 145px 15px 0px 15px;
}

/* @media (max-width: 1650px) {
	.main__content{
		max-width: 1500px;
	}
} */
.first__block{
	display: flex;
	justify-content: space-between;
	min-width: 0;
}
.first__block__left, .first__block__right{
	flex: 0 1 50%;
}

.photo__park__one{
	max-width: 100%;
}

.first__block__left p{
	font-size: 21px;
	line-height: 29px;
	letter-spacing: -0.01em;
	display: inline-block;
	margin: 0px 25px 15px 0px;
}
.first__block__left h2{
	font-size: 40px;
	line-height: 50px;
	color: #3C4547;
	font-weight: 700;
	margin-bottom: 59px;
}
.first__block__left h3, .additional__list h3{
	font-weight: bold;
	font-size: 30px;
	line-height: 38px;
	color: #3C4547;
	margin: 50px 0px 20px 0px;
}

.additional__list{
	display: none;
}
.list__parks{
	margin: 15px 0px 0px 0px;
	display: inline-block;
}
.list__parks li{
	display: block;
	float: left;
	width: 220px;
	padding-left: 30px;
	padding-bottom: 6px;
}
.list__parks li::before{
	content: "—";
	position: relative;
  left: -15px;
}

@media (max-width:1410px){
	.first__block__left h3, .list__parks{
		display: none;
	}
	.first__block__left{
		flex: 0 1 55%;
	}
	.first__block__right{
		flex: 0 1 50%;
	}
	.additional__list, .additional__list .list__parks{
		display: inline-block;
	}
}

.park__name {
	font-size: 18px;
	line-height: 25px;
	margin-left: 22px;
	margin-right: 22px;
	display: inline-block;
	font-weight: 500;
}

.arrow__text img, .number__tours img{
	vertical-align: middle;
}
.arrow__text{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	margin: 25px 0px 0px 0px;
}
.arrow__text__item .fas{
	transition: 0.5s;
}
.arrow__text__item .fas:hover{
	transform: scale(1.4);
	transition: 0.5s;
}

.photo__number{
	font-size: 14px;
	line-height: 19px;
	padding: 15px 70px 0px 0px;
}

/* Main content, second block, tour programm */

	
.slider__programm {
	position: relative;
	padding: 0px 50px;
}
.slider__programm .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 1;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.slider__programm .slick-arrow.slick-prev{
	left: 0;
	background: url('../img/icons/sl-arrow_l.svg') 0 0 / 100% no-repeat;
	opacity: 0.5;
	
}
.slider__programm .slick-arrow.slick-next{
	right: 0;
	background: url('../img/icons/sl-arrow_r.svg') 0 0 / 100% no-repeat;
	opacity: 0.5;
}

/* .slider__item img{
	max-width: 100%;
} */

.second__block h2{
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	color: #3C4547;
	margin: 215px 0px 70px 55px;
	display: inline-block;
}

.photo_block_days{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
.first__day, .second__day, .third__day, .fourth__day{
	flex: 0 1 29%;
	overflow: hidden;
	margin: 0px 10px;
}
.first__day__bg{
	background: url("../img/program_photo1.jpg") no-repeat;
	filter: brightness(70%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 50px 50px 45px;
	width: 100%;
	height: 100%;
	background-size: cover;
  	background-repeat: no-repeat;
	transition: all .5s;
}
.first__day:hover .first__day__bg, .second__day:hover .second__day__bg, .third__day:hover .third__day__bg,
.fourth__day:hover .fourth__day__bg {
	transform: scale(1.1);
	filter: brightness(100%);
	transition: 0.5s;
	cursor: pointer;
}
.first__day__text, .look__photo, .second__day__text, .third__day__text, .fourth__day__text {
	opacity: 0.5;
	
}
.first__day:hover .first__day__text, .first__day:hover .look__photo, .second__day:hover .second__day__text, .second__day:hover .look__photo, .third__day:hover .third__day__text, .third__day:hover .look__photo, .fourth__day:hover .fourth__day__text, .fourth__day:hover .look__photo{
	opacity: 1;
}
.name__of__park{
	margin-top: 10px;
}
.park__description{
	margin-top: 20px;
}


.second__day__bg{
	background: url("../img/program_photo2.jpg") no-repeat;
	filter: brightness(70%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 50px 50px 45px;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-repeat: no-repeat;
	transition: all .5s;
}

.third__day__bg{
	background: url("../img/program_photo3.jpg") no-repeat;
	filter: brightness(70%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 50px 50px 45px;
	width: 100%;
	height: 100%;
	background-size: cover;
  	background-repeat: no-repeat;
	transition: all .5s;
}
.fourth__day__bg{
	background: url("../img/program_photo4.jpg") no-repeat;
	filter: brightness(70%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 45px 50px 50px 45px;
	width: 100%;
	height: 100%;
	background-size: cover;
  background-repeat: no-repeat;
	transition: all .5s;
}
.day__number{
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
}
.name__of__park{
	font-weight: 700;
	font-size: 30px;
	line-height: 38px;
	color: #FFFFFF;
}
.park__description{
	line-height: 29px;
	color: #FFFFFF;
}
.look__photo a{
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
}
.look__photo{
	margin-top: 70px;
}
.look__photo a::after{
	content: '\f105';
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
	font-weight: 900;
	position: relative;
	right: -15px;
	top: 2px;
}

.request{
	border: 1px solid #3C4547;
	padding: 28px 75px 27px 45px;
	transition: 0.5s;
	cursor: pointer;
}
.request::after{
	content: '\f105';
	font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
	font-weight: 900;
	position: relative;
	right: -25px;
	top: 2px;
}
.button{
	margin: 115px 0px 300px 60px;
	display: inline-block;
}
.request:hover{
	color: rgb(24,24,24);
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
	transition: 0.5s;
}

.request:active{
	color: #3C4547;
	background: #f7f7f7;
	box-shadow: 0px 0px 3px rgba(0,0,0,0.4) inset;
	border: 1px solid rgb(198,198,198);
}

@media (max-width:1490px) {
	.park__description{
		font-size: 18px;
	}
	.first__day__bg, .second__day__bg, .third__day__bg, .fourth__day__bg{
		padding: 40px 35px 35px 40px;
	}
	.look__photo{
		margin-top: 35px;
	}
}

@media (max-width:1198px) {
	.first__block__left h2{
		font-size: 30px;
		margin-bottom: 20px;
		line-height: 45px;
	}
	
	
	.first__day, .second__day, .third__day, .fourth__day{
		flex-basis: 49%;
		margin-bottom: 30px;
	}
	
}

@media (max-width:991px) {
	.first__block__left p, .list__parks li{
		font-size: 18px;
		line-height: 25px;
	}
	.first__block__left h2, .additional__list h3{
		font-size: 25px;
		line-height: 33px;
	}
	.request{
		padding: 20px 55px 20px 35px;
	}
}

@media (max-width:767px) {
	.first__block{
		flex-direction: column;
	}
	.photo__park__one{
		padding-left: 0px;
	}
	.additional__list{
		margin: 0 20px;
	}
}

@media (max-width:576px){
	.second__block h2{
		font-size: 30px;
		line-height: 30px;
		margin: 215px 0px 70px 10px;
	}
	.first__day__bg, .second__day__bg, .third__day__bg, .fourth__day__bg {
		padding: 10px;
	}
	.slider__programm{
		padding: 0px 0px;
	}
	.slider__programm .slick-arrow.slick-next{
		opacity: 0;
	}
	.slider__programm .slick-arrow.slick-prev{
		opacity: 0;
	}
	.park__description, .look__photo a{
		font-size: 15px;
	}
	.name__of__park{
		font-size: 24px;
	}
	.first__day:hover .first__day__bg, .second__day:hover .second__day__bg, .third__day:hover .third__day__bg,
	.fourth__day:hover .fourth__day__bg {
	transform: scale(1.0);
	filter: brightness(100%);
	transition: 0.5s;
	cursor: pointer;
}
.first__day__text, .look__photo, .second__day__text, .third__day__text, .fourth__day__text {
	opacity: 1;
}
}

/* Footer */

.footer{
	height: 621px;
	background: #3C4547;
	
}
.container__footer__flex{
	display: flex;
	width: 100%;
	max-width: 1690px;
	margin: 0 auto;
	justify-content: space-between;
}
.container__footer{
	padding: 152px 0px 0px 125px;

}
.row__logo{
	font-weight: bold;
	font-size: 30px;
	line-height: 35px;
	letter-spacing: 0.08em;
  	color: #FFFFFF;
	flex: 0 1 13.5%;
	
}
.row__contacts{
	flex: 0 1 19.7%;
	 
}
.row__media{
	flex: 0 1 25%;
	padding-left: 70px;
}
.row__menu{
	flex: 0 1 28.2%;
}
.main__first__stroke{
	font-weight: 600;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	margin-bottom: 45px;
}
.second__stroke{
	font-weight: 600;
	line-height: 25px;
	color: #FFFFFF;
	margin-bottom: 12px;
}
.third__stroke{
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
	margin-bottom: 35px;
}
.social__media__link{
	font-size: 18px;
	line-height: 21px;
	text-decoration-line: underline;
	color: #FFFFFF;
}
.navigation__link{
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}
.social__media__link:visited, .navigation__link:visited{
	color: #FFFFFF;
}
.social__media__margin{
	margin-bottom: 25px;
}
ul li{
	margin-bottom: 14px;
}
.faq-toggle{
	display: none;
}

@media (max-width:1525px) {
	.row__logo{
		font-size: 20px;
	}
	.main__first__stroke, .second__stroke{
		font-size: 18px;
	}
	.third__stroke, .navigation__link{
		font-size: 15px;
	}
}

@media (max-width:1395px) {
	.container__footer{
		padding: 152px 0px 0px 40px;
	}
	.row__logo{
		flex: 0 1 10%;
	}
	.row__contacts{
		flex:0 1 24.7%;
	}
	.row__media{
		flex:0 1 26%;
		padding-left: 25px;
	}
	.row__menu{
		flex:0 1 20.2%;
	}
}

@media (max-width:1198px) {
	.footer{
		height: auto;
	}
	.container__footer{
		padding: 40px 20px 2px 20px;
	}
	.main__first__stroke, .third__stroke{
		margin-bottom: 20px;
	}
	.row__media{
		padding-left: 0px;
	}
}

@media (max-width:991px) {
	.row__menu{
		display: none;
	}
	.row__logo{
		flex: 0 1 10%;
	}
	.row__contacts{
		flex:0 1 40.7%;
	}
	.row__media{
		flex:0 1 34%;
	}
	.social__media__margin{
		margin-bottom: 15px;
	}
}

@media (max-width:767px) {
	.container__footer__flex{
		display: inline-block;
	}
	.row__contacts, .row__media {
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 10px;
		padding: 25px;
		position: relative;
		overflow: hidden;
		margin: 20px 0;
		transition: 0.5s ease;
	}
	.row__contacts.active, .row__media.active {
		background-color: #586264;
	}
	
		.main__first__stroke, .third__stroke{
		margin-bottom: 0px;
	}
	.second__stroke, .third__stroke, .social__media__margin {
		display: none;
		margin: 30px 0 0;
	}
	
	.row__contacts.active .second__stroke, .row__contacts.active .third__stroke, .row__media.active .second__stroke, .row__media.active .social__media__margin  {
		display: block;
	}
	
	.faq-toggle {
		background-color: transparent;
		border: none;
		border-radius: 50%;
		color: rgb(32, 31, 31);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 16px;
		padding: 0;
		position: absolute;
		top: 30px;
		right: 30px;
		height: 30px;
		width: 30px;
	}
	
	.faq-toggle:focus {
		outline: none;
	}
	
	.row__contacts.active .faq-toggle, .row__media.active .faq-toggle {
		background-color: rgb(208, 218, 208);
	}
	
	.faq-toggle .fa-times {
		display: none;
	}
	
	.row__contacts.active .faq-toggle .fa-times, .row__media.active .faq-toggle .fa-times {
		display: block;
	}
	
	.faq-toggle .fa-chevron-down {
		color: #fff;
	}
	
	.row__contacts.active .faq-toggle .fa-chevron-down, .row__media.active .faq-toggle .fa-chevron-down {
		display: none;
	}
	.fa-times:before {
    content: "\f00d";
}
.fa, .fas {
	font-weight: 900;
}
.fa, .far, .fas {
	font-family: "Font Awesome 5 Free";
}
.fa-chevron-down:before {
	content: "\f078";
}

}


/* Modal window */

.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  z-index: 10;
	transition: all 0.8s ease;
}

.hidden {
  display: none;
}

.application__form {
  position: absolute;
  max-width: 479px;
  width: 100%;
  height: 598px;
  padding: 30px 40px 40px;
  position: fixed;
  z-index: 100;
  top: calc(50vh - 299px);
  left: calc(50vw - 240px);
  background: #FCFCFC;
  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
}
.feedback__title {
  margin-bottom: 20px;
}
.feedback__note{
	font-size: 15px;
  line-height: 18px;
  margin-bottom: 20px;
}
.name-box, 
.email-box, .phone-box {
  width: 100%;
  height: 63px;
  border-bottom: 2px solid #D3D3D3;
}
.name-box {
  margin-bottom: 34px;  
}
.email-box {
  margin-bottom: 34px;  
}
.phone-box {
  margin-bottom: 34px;  
}
[for="name"],
[for="email"],
[for="tel"] {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #7B7B7B;
  margin-bottom: 6px;  
}
.application__form input {
  width: 100%;
  height: 40px;  
  font-size: 18px;
  line-height: 20px;
}

.btn_send {  
  padding: 25px 110px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  background: #171717;
  border-radius: 5px;
}
.btn_send.invalid {
  background: #D3D3D3;
}

@media (max-width:1198px){
	.application__form{
		max-width: 394px;
		width: 100%;
		height: 551px;
		padding: 30px 40px 50px;
		top: calc(50vh - 275px);
  		left: calc(50vw - 197px);
	}
	.btn_send{
		padding: 16px 78px;
		font-size: 16px;
	}
	.name-box, .email-box, .phone-box{
		margin-bottom: 15px;
	}
}



